.chartSection{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.chartSectionTitle{
  width: 100%;
  text-align: center;
  margin: 15px;
  color: #A7AC9A;
}

.viewMore{
  text-decoration: none;
  color: #A7AC9A;
  font-size: 24px;
  margin: 20px 0px;
}